language: bash #generic
cache:
  directories:
  - $HOME/miniconda
  - $HOME/.cache/Tectonic
  - report/pyg
install:
- export PATH="$HOME/miniconda/bin:$PATH"
- if ! command -v conda > /dev/null; then
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    bash miniconda.sh -b -p $HOME/miniconda -u;
  fi
- conda config --add channels conda-forge;
- conda config --set always_yes yes --set channel_priority no;
- if ! command -v pygmentize > /dev/null; then conda install pygments; fi
- if ! command -v tectonic > /dev/null; then conda install tectonic; fi
- conda update conda --all
script:
- bash bin/report
deploy:
- provider: pages
  github-token: $GH_TOKEN
  local-dir: report/out
  target-branch: report
  skip-cleanup: true
  keep-history: false
  on:
    branch: master
